<div>
 <%= render "shared/header" %>
</div>

<div class="container">
<%# ログインなどのフラッシュメッセージ %>
  <span class="navbar-text">
      <%= flash[:notice] %>
  </span>

  <%# ログイン時の名前表示 %>
  <% if user_signed_in? %>
    <span class="navbar-text">
      <%= "ようこそ#{current_user.name}さん" %>
    </span>
  <% end %>
</div>